@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply px-3 pt-1 hover:cursor-pointer relative 
  w-14 border-b py-2 lg:py-0 lg:border-0 lg:h-full lg:w-auto lg:px-2;
}

.cardPublication {
  @apply w-full max-w-3xl lg:w-full bg-purple-600 p-3 flex flex-col justify-center items-center rounded-lg text-white;
}

.badge{
  @apply bg-red-600 block absolute w-3.5 h-3.5 rounded-full top-1 right-3 text-xs font-semibold;
}

.buttonQuest{
  @apply font-medium text-xl text-white w-4/5 transition py-2 px-4 rounded-lg text-left

}

.cardQuest{
  @apply text-white p-3 text-left rounded-lg hover:cursor-pointer transition
}

:root {
  scroll-behavior: smooth;
}

@layer base{
  :root{
    --color-text-base:#ffffff;
  --color-text-muted:#1d4ed8 ;
  --color-text-inverted:#93c5fd ;
  --color-fill:#1e40af ;
  --color-button-accent:#ffff ;
  --color-button-accent-hover:#eef2ff ;
  --color-button-muted:#2563eb ;
  }
  .theme-green{
    --color-text-base:#111802;
    --color-text-muted:#2f4306 ;
    --color-text-inverted:#4ade80;
    --color-fill:#16a34a ;
    --color-button-accent:#243403 ;
    --color-button-accent-hover:#374f05 ;
    --color-button-muted:#4ade80 ;
  }
  .theme-red{
    --color-text-base:#ffffff;
    --color-text-muted:#fecaca ;
    --color-text-inverted:#dc2626 ;
    --color-fill:#991b1b ;
    --color-button-accent:#ffff ;
    --color-button-accent-hover:#fef2f2 ;
    --color-button-muted:#ef4444;
  }
  .theme-purple{
    --color-text-base:#0000;
  --color-text-muted:#c7d2fe ;
  --color-text-inverted:#4f46e5 ;
  --color-fill:#4338ca ;
  --color-button-accent:#ffff ;
  --color-button-accent-hover:#eef2ff ;
  --color-button-muted:#6366f1 ;
  }
  .theme-dark{
    --color-text-base:#ffffff;
    --color-text-muted:#585a61 ;
    --color-text-inverted:#585a68 ;
    --color-fill:#2b2d31 ;
    --color-button-accent:#ffff ;
    --color-button-accent-hover:#eef2ff ;
    --color-button-muted:#1a1c1f ;
  }
}

@keyframes entry {
  0%{
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.bounce{
  animation: entry .5s ease;
  color: rgb(255, 255, 255);
}
/* :root{
  --color-text-base:#ffffff;
    --color-text-muted:#585a61 ;
    --color-text-inverted:#f0f7ff ;
    --color-fill:#2b2d31 ;
    --color-button-accent:#ffff ;
    --color-button-accent-hover:#eef2ff ;
    --color-button-muted:#1a1c1f ;
} */